
.metainput{
    width: 70%;
    padding: 5px;
    height: 53px;
    font-size: 20px;
    border: 1px solid #8c8080;
}
.btnStyle {
    width: 70px;
    height: 50px;
    margin-top: -9px;
}
.addItemStyle{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.addItemStyle p{
    margin: 10px 0;
    color:#3626b6;
}
.p2Style {
    text-align: end;
    margin: -10px 9px 0 0;
    color: darkgrey;
    border: none;
    background-color: #fff;
}