

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "SF Pro Text", "BlinkMacSystemFont", "Roboto", "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    scroll-behavior: smooth;
  }
  
  :root {
    --black: #000;
    --blackBg: #1f1e1f;
    --white: #fff;
    --lighish-white: #f7f9fa;
  
    --gray: #1c1d1f;
    --light-gray: #6a6f73;
    --light-gray2: #242528;
    --light-gray3: #3e4143;
    --gray86: #d1d7dc;
    --gray100: #f0f2f4;
    --gray-wild-sand: #f3f3f3;
    --gray-alto: #d9d9d9;
    --gray-silver: #b7b7b7;
    --gray-silver-chalice: #999999;
    --gray-mine-shaft: #434343;
  
    --purple: #a435f0;
    --purple-dark: #8710d8;
  
    --teal: #72d8ba;
    --dark-teal: #199fa3;
    --dark-teal2: #1e6055;
    --teal-green-light: #6ac1d0;
    --teal-green-lighter: #c3e6ec;
  
    --yellow: #e9e729;
    --blue: #5022c3;
  
    --red: #f4522d;
    --red1: #b32d0f;
  
    --indigo: #5624d0;
    --indigo200: #b7a9e5;
    --indigolight: #cec0fc;
  
    --blackish2: rgb(51, 51, 51);
  
    --yellowish-green: #eceb98;
    --yellowish-green-dark: #3d3c0a;
  
    --glodish1: #b4690e;
    --glodish2: #e59819;
  
    --crimson: crimson;
  
    --light-orangish: #f3ca8c;
  
    --transparent: transparent;
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .slick-arrow::after {
    display: none;
  }
  .slick-arrow::before {
    display: none;
  }
  .p{
    margin: 0;
    padding: 0;
  }
  .btnStyle1{
    width: 100px;
    height: 45px;
  }
  .addItemStyle{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 4px;
  }
  .addItemStyle p{
    margin:7px 0;
    color: #3626b6;
    background-color: beige;
    width: 100px;
    height: 32px;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
    padding: 2px 0;
  }
  
  .addItemStyle p:hover{
    color: #fff;
    background-color: rgb(51, 32, 144);
    cursor: pointer;
  }
  .closeBTn {
    margin: -10px -1px 0 -17px;
  }
  .closeBTn:hover{
    background-color: rgb(51, 32, 144);
    color: #fff;
  }
  .outerDiv3 {
    display: flex;
    justify-content: center;
  }
  .innerDiv3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 47px;
  }
  .paginationDiv {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .paginationDiv p {
    font-size: 23px;
    width: 50px;
    text-align: center;
    border: 1px solid #bdc1bd;
  }
  
  .paginationBtn:hover {
    color: white;
    background-color: #5c3ca9;
  }
  .paginationBtn {
    width: 82px;
    height: 36px;
    border: none;
    border-radius: 0px;
    background-color: #534672;
    color: #fff;
  }
  .btnUpdate{
    width: 82px;
    height: 36px;
    border: none;
    border-radius: 0px;
    background-color: #31088f;
    color: #fff;
  }
  .selectStyle{
    padding: 12px 0 12px 52px;
    font-size: 1rem;
    font-weight: 500;
    border: solid 1px #000;
    border-radius: 0;
    color: var(--light-gray);
  }
  .qsOption1{
    width: 25px;
      height: 25px;
      margin-right: 10px;
  }
  .content{
    width: 90%;
    height: 610px;
    overflow-y: scroll;
  }
  .mandatoryField{
    color: red;
    font-size: 18px;
  }
  .bargraphStyle1{
    width: 60px;
      height: 20px;
      background-color: #fff;
      margin: 0 10px;
  }
  .bargraphStyle2{
    width: 60px;
      height: 20px;
      background-color: green;
      margin: 0 10px;
  }
  .bargraphStyle3{
    width: 60px;
      height: 20px;
      background-color: red;
      margin: 0 10px;
  }
  .bargraphStyle4{
    width: 60px;
      height: 20px;
      background-color: #D5CDCD;
      margin: 0 10px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999; /* Ensure it covers everything */
  }
  
  .spinner_wrapper {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000; /* Ensure it's on top of the overlay */
    color: white; /* Spinner color */
  }

  
.Optiondiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  margin: 10px;
}
.textAlign {
  text-align: center;
}
.imgStyle {
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
}
.labelMargin {
  margin-left: 1rem;
}
.markdownTextareaTlt{
  position: relative;
    background: #fff;
    padding: 2px;
    /* border: 1px solid #000; */
    /* border-radius: 0%; */
    font-size: 20px;
}
.markdownTextarea{
  width: 100%;
  padding: 17px 10px 10px 10px;
  height: 200px;
  margin-top: -25px;
}
.markdownBtn{
  background: #fff;
    border: 1px solid #b7b0b7;
    border-radius: 10%;
    margin: 0 -1px 1px 0;
    color: olivedrab;
    padding: 4px 4px 1px 4px;
}
.markdownBtn :hover{
  background: LightGray;
    border: 1px solid #b7b0b7;
    border-radius: 10%;
    margin: 0 -1px 1px 0;
    color: olivedrab;
    padding: 4px 4px 1px 4px;
}

.inputField {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
  border-radius: 2%;
  box-sizing: border-box;
  font-size: 20px;
}

.outModelDiv{
  width: 100%;
  top: 100px;
  position: absolute;
  display: flex;
  justify-content: left;
}
.innerModelDiv{
  width: 35%;
  height: 266px;
  background-color: #fff;
  margin-left: 15%;
  border: 1px solid #aeaddf;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
.innerModelDiv button{
  position: absolute;
  right: -31px;
  top: -12px;
  color: #000;
  font-size: 20px;
  width: 50px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
.innerModelDiv div{
  position: static;
}
.tabs {
  display: flex;
  gap: 1rem;
  overflow: scroll;
  border-bottom: 1px solid var(--gray86);
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--light-gray);
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.tabActive {
  color: var(--gray);
  border-bottom: 2px solid var(--gray);
}

.bdy {
  margin: 1rem 0;
}

@media screen and (max-width : 600px) {
.Optiondiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 60px 0 0;
}
.tabs {
  display: flex;
  gap: 1rem;
  overflow: scroll;
  border-bottom: 1px solid var(--gray86);
  margin-left: 0;
}
}
  